In [2]:
import numpy as np
import pandas as pd

### Series Exercises

Write a Pandas program to convert a Pandas module Series to Python list and modify its type.

In [ ]:
ds = pd.Series([2, 4, 6, 8, 10])

print("Pandas Series and type")
print(ds)
print("Data type: {}\n".format(ds.dtype))

print("Convert Pandas Series to Python list...")
python_list = list(ds.values)
python_list_b = list(ds.to_list())

print("Python list data: {}".format(python_list))
print("Check Python list type: {}\n".format(type(python_list)))

print("Convert data to float...")
# put your code here to convert data to float
converted_ds = ds.astype('float')

print(converted_ds)
print("Check float data type: {}\n".format(converted_ds.dtype))

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [7]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

ds_add = ds1 + ds2
print("ds1 + ds2 = \n{}\n".format(ds_add))

ds_sub = ds1 - ds2
print("ds1 - ds2 = \n{}\n".format(ds_sub))

ds_prod = ds1 * ds2
print("ds1 * ds2 = \n{}\n".format(ds_prod))

ds_div = ds1 / ds2
print("ds1 / ds2 = \n{}\n".format(ds_div))

ds1 + ds2 =
0     3
1     7
2    11
3    15
4    19
dtype: int64

ds1 - ds2 =
0    1
1    1
2    1
3    1
4    1
dtype: int64

ds1 * ds2 =
0     2
1    12
2    30
3    56
4    90
dtype: int64

ds1 / ds2 =
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Write a Pandas program to convert Series of lists to one Series.

In [5]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)

# longer version
merge_list = []
for val_list in s.to_list():
  merge_list.extend(val_list)
merge_series = pd.Series(merge_list)
print(merge_series)

# Shorter version:
flattened = s.explode(ignore_index=True)
print(flattened)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to add some data to an existing Series.

In [6]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)

print("\nAdding new data to Series")
#s.append(pd.Series(['ciao']), ignore_index=True)
# warning: append has been deprecated in pandas2.0.
# here's the new version:
s = pd.concat([s, pd.Series('ciao')], ignore_index=True)
print(s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Adding new data to Series
0       100
1       200
2    python
3    300.12
4       400
5      ciao
dtype: object

Write a Pandas program to create a subset of a given series containing only values greater than 6.

In [ ]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)

print("Selecting only elements greater than 6")
new_s = s[s > 6]
print(new_s)

Write a Pandas program to change the order of index of a given series.

In [4]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)

print("Changing index order...")
new_s = s.reindex(index=['C', 'D', 'A', 'B', 'E'])
print(new_s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Changing index order...
C    3
D    4
A    1
B    2
E    5
dtype: int64

Write a Pandas program to calculate the mean and standard deviation of the data of a given Series.

In [3]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)

print("Mean: {}".format(s.mean()))
print("Std: {}".format(s.std()))

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean: 4.818181818181818
Std: 2.522624895547565

# Dataframes exercises

 Write a Pandas program to get the first 3 rows of a given DataFrame.

In [3]:

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print(df.iloc[:3,:])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [4]:
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df[['name', 'score']])

Write a Pandas program to select the specified columns and rows from a given DataFrame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [7]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print(df.iloc[[1,3,5,6], [0, 1]])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

IndexError: .iloc requires numeric indexers, got ['name' 'score']

Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data , index=labels)

print(df[df['score'].isnull()])

Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)


print(df[(df['score']>=15) & (df['score']<=20)])

 Write a Pandas program to change the score in row 'd' to 11.5.

In [8]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nOriginal data frame:")
print(df)

df.loc['d', 'score'] = 11.5
df

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Write a Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

print(df['attempts'].sum())